{% extends 'base.html' %}

{% block content %}
<script>
$(document).ready(function(){
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
})
</script>
<style>
        /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
      background-color: #ccc;
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
</style>
<h1>{{ team }} bearbeiten</h1>
{% for programmpunkt in programmpunkte %}
<button class="accordion">{{ programmpunkt }}</button>
<div class="panel">
  <form method="POST" id="form{{ programmpunkt.id }}">
    {% csrf_token %}
    <label for="von{{ programmpunkt.id }}">Von: </label>
    <input type="time" id="von{{ programmpunkt.id }}" name="von{{ programmpunkt.id }}" value="{{ programmpunkt.von }}"><br>
    <label for="bis{{ programmpunkt.id }}">Bis: </label>
    <input type="time" id="bis{{ programmpunkt.id }}" name="bis{{ programmpunkt.id }}" value="{{ programmpunkt.bis }}"><br>
    <label for="name{{ programmpunkt.id }}">Name:</label>
    <input type="text" id="name{{ programmpunkt.id }}" name="name{{ programmpunkt.id }}" value="{{ programmpunkt.name }}"><br>
    <label for="verantwortlich{{ programmpunkt.id }}">Verantwortlich: </label>
    <select multiple id="verantwortlich{{ programmpunkt.id }}" name="verantwortlich{{ programmpunkt.id }}"><br>
      {% for leiter in team_leiter %}
      {% if leiter in programmpunkt.verantwortlich.all %}<option selected value="{{ leiter.username }}">{% else %}
        <option value="{{ leiter.username }}">{%endif %}{{ leiter.username }}</option>
      {% endfor %}
    </select><br>
        <label for="beschreibung{{ programmpunkt.id }}">Beschreibung: </label><br>
  <textarea rows="4" id="beschreibung{{ programmpunkt.id }}" cols="50" name="beschreibung{{ programmpunkt.id }}" form="form{{ programmpunkt.id }}">{{ programmpunkt.beschreibung }}</textarea><br>
  <label for="material{{ programmpunkt.id }}">Material: </label><br>
  <textarea rows="4" id="material{{ programmpunkt.id }}" cols="50" name="material{{ programmpunkt.id }}" form="form{{ programmpunkt.id }}">{{ programmpunkt.beschreibung }}</textarea><br>
    <button type="submit">Speichern</button>
  </form>
    <a href="delete/{{ programmpunkt.id }}">Diesen Programmpunkt entfernen</a>
</div>
{% endfor %}

<button class="accordion">Neuer Programmpunkt</button>
<div class="panel">
  <form method="POST" id="form">
    {% csrf_token %}
    <label for="von">Von: </label>
    <input type="time" id="von" name="von"><br>
    <label for="bis">Bis: </label>
    <input type="time" id="bis" name="bis"><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>
    <label>Welches Thema/ welche Themen werden behandelt?</label>
    {% for abzeichen in logbuch.abzeichen.all %}
      <h4>{{ abzeichen }}: </h4>
      {% for thema in abzeichen.themen.all %}
        <h5>{{ thema }}</h5>
        {% for unterthema in thema.unterthemen.all %}
          <h6>{{ unterthema }}</h6>
          {% for aufgabe in unterthema.aufgaben.all %}
            <label><input type="checkbox">{{ aufgabe }}</label>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    {% endfor %}<br>
    <label for="verantwortlich">Verantwortlich: </label>
    <select multiple id="verantwortlich" name="verantwortlich"><br>
      {% for leiter in team_leiter %}
      {% if leiter in programmpunkt.verantwortlich.all %}<option selected value="{{ leiter.username }}">{% else %}
        <option value="{{ leiter.username }}">{%endif %}{{ leiter.username }}</option>
      {% endfor %}
    </select><br>
        <label for="beschreibung">Beschreibung: </label><br>
  <textarea rows="4" id="beschreibung" cols="50" name="beschreibung" form="form"></textarea><br>
  <label for="material">Material: </label><br>
  <textarea rows="4" id="material" cols="50" name="material" form="form"></textarea><br>
    <button type="submit">Speichern</button>
  </form>
</div>

  <div class="test">
    <form class="custom-multiselect">
      <label>
        <input type="checkbox" id="test-id">test
        </label>
    </form>
  </div>
{% endblock %}